[package]
name = "llmc"
version = "0.1.1"
edition = "2021"
autobins = false

[[bin]]
name = "llmc"
path = "src/main.rs"

[dependencies]
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
regex = "1"

[dev-dependencies]
tempfile = "3"
